group Build
	framework:net45
    source https://www.nuget.org/api/v2/

    nuget FAKE

group Tests
	source https://www.nuget.org/api/v2/
	framework: net45

	nuget FsUnit
	nuget NUnit.Console
	github fsprojects/FsUnit src/FsUnit.NUnit/FsUnit.fs

group Main
    source https://www.nuget.org/api/v2/
	framework: auto-detect

    nuget FSharp.Data
	nuget FSharp.Core >= 4.1